*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: rgb(218, 249, 249);
}
.ul1{
    display: flex;
    justify-content:space-evenly;     
}
li{
    list-style-type: none;
}
a{
    /* color: black; */
    /* text-decoration: none; */
}
/* SECOND SECTION */
.secondsection{
    background-color: rgba(72, 70, 70, 0.429);
    border-radius: 20px;
}
.foodname{
    color: rgb(32, 33, 33);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.foofimg{
    height: 200px;
    width: 300px;
}
.thirdsection{
    
}
.food{
    box-shadow: 0px 0px 10px rgb(184, 180, 180);
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.food:hover{
    border: 1px solid red ;
    transform: scale(1.05);

}
/* about section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
}
.about2{
    background-color: rgba(0, 0, 0, 0.429);
    border-radius: 20px;
}


/* contact section */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* footer section */
footer{
    background-color: rgba(0, 0, 0, 0.536);
    color: aliceblue;
    height: 100px;
}
.i1{
    color: rgb(228, 10, 94);
    font-size: 25px;
}
.i2{
    color: rgb(5, 5, 104);
    font-size: 25px;
}
.i3{
    color: rgb(38, 86, 245);
    font-size: 25px;
}
.i4{
    color: green;
    font-size: 25px;
}
.i{
    display: flex;
    justify-content: space-between;
}