div{
    margin-top: 50px;
    margin-left: 40px;
}
/* :root{ */
    /* --primary:black; */
/* } */
.full{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    margin-top: 50px;
    
}

.div1{
   
    height: 200px;
    width: 200px;
    /* background-image: url(img/img1.jpg); */
    border-radius: 10px;
    border: 1px solid white;

}
.div1 :hover{
/* background-image:url(img/img1.jpg) ; */
transform: scale(1.2);
}
.div2{ 
    /* background-image: url(img/img2.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;


}
.div3{
    /* background-image: url(img/img3.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
.div4{
    /* background-color:var(--primary); */
    /* background-image: url(img/img4.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
.div5{
    /* background-color: orange; */
    /* background-image: url(img/img6.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
.div6{
    /* background-color:green; */
    /* background-image: url(img/img7.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
.div7{
    /* background-color:blueviolet; */
    /* background-image: url(img/img8.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
.div8{
    /* background-color: gold; */
    /* background-image: url(img/img9.jpg); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;

}
body{
    background-color: black;
    height: 1000px;
    

}
img{
    height: 200px;
    width:200px;
    border-radius: 10px;
    opacity: 0.8;
}
img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 20px white;
    opacity: 1;
}
h1{
    color: darkslategrey;
    text-shadow: 5px 5px 5px yellow;
    margin:50px 0px 0px 400px;
    font-size: 40px; 
    animation-name:vicky;
    animation-iteration-count: infinite;
    animation: 5s; 
}
@keyframes vicky {
    0%{
      color: aqua;
    }
    50%{
    color: blue
    }
    100%{
        color: brown;
    }
}


*{
    margin: 0px;
    padding: 0px;
}